<%= form_for @assessment do |f| %>
  <div class="booking-edit">

    <%= f.label :code %>
    <%= f.text_field :code, :required =>true %>

    <br>

    <% if current_user.is_admin_or_owner? %>
    <%= f.submit 'Save' %>
    <%end%>
  </div>
<% end %>
<script type="text/javascript">
  $("form").on('submit', function(event){
        if(!confirm("Are you sure you want to update assessment code ?")) {
            event.preventDefault();
        }
    })
</script>