<%= form_for @assessment do |f| %>
  <div class="booking-edit">

    <%= f.label :code %>
    <%= f.text_field :code %>

    <br>

    <% if current_user.is_admin_or_owner? %>
    <%= f.submit 'Save' %>
    <%end%>
  </div>
<% end %>
