<div>
  <%= render "dashboard/modal" %>
</div>

<div class="bookings_content">
    <div class="col-md-3">
        <div class="list-group">
            <a class="list-group-item " id="approved">Active Bookings</a>
            <a class="list-group-item " id="completed">Completed Bookings</a>
            <a class="list-group-item " id="pending">Pending Approval</a>
            <a class="list-group-item " id="approver_approved">Pending Owner Approval</a>
        </div>
        <div>
        <% if current_user.is_admin? or current_user.is_spoc? %>
            <button type="button" class="btn btn-primary create-booking" data-toggle="modal" data-target="#createBooking">
                Create New Booking
            </button>
        <% end %>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
    		<%= render "dashboard/table.html.erb" %>
        </div>
    </div>
</div>