<div class="modal fade" id="createBooking" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add new booking</h4>
      </div>
      <div class="modal-body">
        <div class="form-group" id="startDate">
          <label for="startDate">Start Date</label>
          <br>
          <%= date_field(:booking, :start_date) %>
        </div>

        <div class="form-group" id="timeIn">
          <label for="startDate">Time In (HH:MM) </label>
          <br>
          <%= time_field(:booking, :time_in) %>
        </div>

        <div class="form-group" id="endDate">
          <label for="endDate">End Date</label>
          <br>
          <%= date_field(:booking, :end_date) %>
        </div>

        <div class="form-group" id="timeOut">
          <label for="startDate">Time Out (HH:MM) </label>
          <br>
          <%= time_field(:booking, :time_out) %>
        </div>

        <div class="form-group">
          <label for="sel1">Select Generator Type</label>
          <select class="form-control" id="gen_type">
            <option>Mobile</option>
            <option>Static</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sel1">KVA required</label>
          <input id="kva"></input>
        </div>

        <div class="form-group">
          <label for="sel1">LISP</label>
          <input id="lisp"></input>
        </div>

        <div class="form-group">
          <label for="sel1">Representative ID</label>
          <input id="employee_id"></input>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_bookings">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->