<table id="bookings" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Office Location</th>
            <th>Required from</th>
            <th>Required Till</th>
            <th>Generator Type</th>
            <th>Status</th>
            <th>Bill</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>