
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">FindGen</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="user"><a href="#">
              <%= current_user.name %>
          </a></li> 
        </ul>
      </div>
    </nav>

        <div id="create-modal">
            <%= render "modal.html.erb" %>
        </div>

        <div class="container main-content">

            <div class="row">

                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item active" id="active">Active Bookings</a>
                        <a href="#" class="list-group-item previous" id="previous">Previous Bookings</a>
                        <a href="#" class="list-group-item pending" id="pending">Pending Approval</a>
                    </div>
                    <div>
                    <button type="button" class="btn btn-primary create-booking" data-toggle="modal" data-target="#createModal">
                        Create New Booking
                    </button>
                    </div>
                </div>
                

                <div class="col-md-9">
                    <div class="row">
    					<%= render "table.html.erb" %>
                    </div>
                </div>

            </div>

        </div>
