<div>
  <%= render "users/modal" %>
</div>
<div class="row users_content">
    <div>
        <% if current_user.is_admin_or_owner? %>
            <button type="button" class="btn btn-primary create-booking" data-toggle="modal" data-target="#createUser">
                Add Employee
            </button>
        <% end %>
    </div>
    

    <div class="row">
		<%= render "users/table.html.erb" %>
    </div>

</div>

<script type="text/javascript">
    $("#users").on('click', 'tr', function(){
        id = $(this).data('id')
        if(id) {
            window.location = '/users/' + id;
        }
    })

    $('#users').DataTable()

    $('#save_user').click(function(){
        $('#userForm').find('input[type=submit]').click()
    });

    $('#userForm').on('submit', function(event) {
        event.preventDefault();

        if(!$("#userForm")[0].checkValidity() || $("#user_name").val() == "" || 
            $("#user_phone_number").val() == "" || $('#role_type').val() == "" ||
            $('#user_employee_id').val() == "" || $('#user_location').val() == ""
          ) {
          $("#user_form_error").show()
          return
        }
      formData = {
        user: {
            name: $('#user_name').val(),
            location: $('#user_location').val(),
            email: $('#user_email').val(),
            phone_number: $('#user_phone_number').val(),
            role_type: $('#role_type').val(),
            client_id: clientId,
            employee_id: $('#user_employee_id').val(),
            subgroup_id: $('#user_subgroup_id').val(),
            approver_type: $("#approver_type").val()
        }
      }   
      $.post({
        url: '/users',
        data: formData}).done(function(data){
        location.reload()
      }).fail(function(data){
        alert(data.error().responseText);
      });
  });


</script>