<div class="modal fade" id="createUser" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add new User</h4>
      </div>
      <div class="modal-body">
        <form id="userForm">
        <div class="form-group">
          <label for="name">Name <span class="red">*</span></label>
          <input required type="text" class="form-control" id="user_name">
        </div>
        <div class="form-group">
          <label for="name">Phone number(10 digits) <span class="red">*</span></label>
          <input required maxlength="10" pattern="[0-9]{10}" class="form-control" id="user_phone_number">
        </div>
        <div class="form-group">
          <label for="location">Email <span class="red">*</span></label>
          <input required type="email" type="text" class="form-control" id="user_email">
        </div>

        <div class="form-group">
          <label for="location">Employee Id <span class="red">*</span></label>
          <input required type="number" class="form-control" id="user_employee_id">
        </div>

        <div class="form-group">
          <label for="sel1">Select User Type <span class="red">*</span></label>
          <select class="form-control" id="role_type">
            <option>Employee</option>
            <option>Admin</option>
            <option>SPOC</option>
            <option>Approver</option>
          </select>
        </div>

        <div class="form-group" id="approver_type_select">
          <label for="sel1">Select Approver Type <span class="red">*</span></label>
          <select class="form-control" id="approver_type">
            <option>NOM</option>
            <option>ZOM</option>
          </select>
        </div>

        <div class="form-group" id="subgroup_select">
            <label for="sel1">Subgroup</label>
            <select  class="selectdd" id="user_subgroup_id">
            <option selected disabled>Select Subgroup</option>
            <% @subgroups.each do |subgroup| %>
              <option value=<%=subgroup.id%> > <%=subgroup.name%> </option>
            <% end %>
            </select>
        </div>
        <input class="formSubmit" type="submit"></input>
        </form>
      </div>
      <div class="modal-footer">
        <div id="user_form_error" class="alert-danger">
          Please fill the required fields
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_user">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
  $(".selectdd").select2();
  $("#role_type").change(function(){
    if($("#role_type").val() == "SPOC") {
      $("#subgroup_select").show()
    } else {
      $("#subgroup_select").hide()
    }
    if($("#role_type").val() == "Approver") {
      $("#approver_type_select").show()
    } else {
      $("#approver_type_select").hide()
    }
  })
  $("#subgroup_select").hide()
  $("#approver_type_select").hide()
</script>