<table id="users" class="table hover table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Office Location</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Role Type</th>
            <th>Employee Id</th>
            <th>Subgroup</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>