<div class="details" >  

	<div class="form-group">
      <label for="name">Name</label>
      <div> <%= @current_client.name  %> </div>
    </div>

 	<div class="form-group">
      <label for="location">Location</label>
      <div> <%= @current_client.location %> </div>
    </div>

     <div class="form-group">
      <label for="email">Email</label>
      <div> <%= @current_client.email %> </div>
    </div>

     <div class="form-group">
      <label for="balance">Balance</label>
      <div class="balance"> <%= @current_client.balance %> </div>
    </div>

</div>