<div>
<button class="booking-edit back-btn btn btn-primary glyphicon glyphicon-arrow-left"></button>
</div>

<div class="details" style="display: block;margin-left: 300px">  

  <div class="form-group">
      <label for="name">Name</label>
      <div> <%= @current_client.name  %> </div>
    </div>

  <div class="form-group">
      <label for="location">Location</label>
      <div> <%= @current_client.location %> </div>
    </div>

     <div class="form-group">
      <label for="email">Email</label>
      <div> <%= @current_client.email %> </div>
    </div>

     <div class="form-group">
      <label for="balance">Balance</label>
      <div class="balance"> <%= @current_client.balance %> </div>
    </div>

</div>
<script type="text/javascript">
$(".back-btn").click(function(){
        history.back()
    })

</script>
