<table id="clients" class="table hover table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Cash Balance</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>