<%= render "modal.html.erb" %>

<div class="container main-content">

    <div class="row">
            <button type="button" class="btn btn-primary create-booking" data-toggle="modal" data-target="#createClient">
                Create New Client
            </button>
    </div>
        
    <div class="row">
		<%= render "table.html.erb" %>
    </div>


</div>

