tr {
  cursor: pointer;
}

.create-booking {
  margin-bottom: 10px;
}

.container {
	width: 1370px !important;
}

.balance {
  color: red;
}


aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.user {
  float: right !important;
}

.mynav {
  width: 90% !important;
}

.bookings_content {
  margin-top: 20px;
}

.details {
  margin-top: 20px;
  display: none;
}

.users_content{
  margin-top: 20px;
  display: none;
}

#lisps_content  {
  margin-top: 20px;
  display: none;
}

#groups_content  {
  margin-top: 20px;
  display: none;
}

#subgroups_content  {
  margin-top: 20px;
  display: none;
}

.booking-edit {
  margin-left: 20px;
  margin-right: 20px;
}

.list-group-item {
  cursor: pointer;
}

nav li {
  cursor: pointer;
}

.booking_update td{
  width: auto !important;
}

tr a {
  text-decoration: underline !important;
}

.user_info {
  margin-left: 30px;
}

.on_completed_details,
.on_accepted_details {
  display: none;
}

  
.login::after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/bb/Alternative_Energies.jpg");
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-size: cover;
}

.login_form {
  color: white;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
}

#dashboard_bookings_wrapper {
  margin-top: 20px;
}

.cancel_btn {
  margin-top: 2px;
  width: 70px;
}

.reject_btn {
  margin-top: 2px;
  width: 61px;
}

.admin_actions {
  width: 80px;
}


ul.nav li:hover > ul.dropdown-menu {
  display: block;
}

.invoice {
  height: auto;
  width: 570px;
}

.selectdd {
  width: 570px;
}

#s_lisps {
  display: none;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #df2b22;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}


.booking-edit td {
  width: 50%
}

div#form_error {
  display: none;
  float: left;
}

#success_message {
  display: none;
  text-align: center;
}

div#user_form_error {
  display: none;
  float: left;
}

.red {
  color: red;
}

.alert {
  margin-top: -20px;
}

.alert {
  text-align: center;
}

.formSubmit {
  display: none;
}

#assessments_content {
  margin-top: 20px;
  display: none;
}

.bookings-content {
  font-size: 12px;
}

#dashboard_bookings_wrapper {
}

#bookings_wrapper {
}

.submit_email {
  display: none;
}

#forgot_password {
  color: white;
  float: right;
}